
<head>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/header.css'%}">
</head>

<header class="head">
    <div class="left-side">
        <p>{{user.username}}</p>
    </div>
    <div class="middle"> 
        <form  class="middle" >     
          <input class="searchbar" placeholder="Search" type="text" name="search">
            <button class="search-button" type="submit"><img class="search-img" src="media/template_pics/search.svg"alt=""></button>
            
        </form>
    </div>
    
    <div class="right-side">
        <div class="createbox">
            <img class="create" src="upload.svg" alt="">
            <div class="pop" style="background-color: #60606084;color:white;padding: 5px;">Create</div>
        </div>
        <div><img class="apps" src="youtube-apps.svg" alt=""></div>
        <div><img class="notification" src="notifications.svg" alt=""></div>
        <div><img class="channel" src="my-channel.jpeg" alt=""></div>
    </div>
</header>


<p>{{user.email}}</p>
{%for prod in cartitems%}
<div class="video">
    
    <div class="thumbnailbox">
    <a href="firstpage/{{prod.uuid}}"><img class="thumbnail" src="/media/{{prod.product.pic}}"  alt=""></a>
    </div>
    <div class="info">
        <div class="channel2">
            <img class="channel2img" src="channel-1.jpeg" alt="">
        </div>
        {{% if prod.product %}} 
        <div class="stats">
            <p class="name">{{prod.product.desc}}</p>
            <p style="font-weight:500 ;font-size:14px;line-height:1.5;margin-bottom: 10px;"><a style="text-decoration:none;" href="firstpage/{{prod.product.uuid}}" target="_blank">{{prod.product.name}}</a></p> 
            <p style="font-weight:500 ;font-size:14px;line-height:1.5;margin-bottom: 10px;"><a style="text-decoration:none;" href="cart/Delete/{{ prod.product.uuid }}" target="_blank">Delete</a></p> 
            <a href="seller_response/{{prod.product.uuid}}">Reply from Seller</a>
        </div>
        {{%endif%}}
    </div>
</div>
{%endfor%}KO